.app-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

section {
  height: 100vh;
  /* margin: 2rem 0; */
  /* border: 1px solid #000; */
}
.bg-orange-shadow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bg-green-shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#move-text-container {
  background: var(--primary-color);
  padding: 15px;
}
.move-text {
  position: relative;
}
.move-text .main-head {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fdd7c4;
}
.move-text span {
  font-size: 2rem;
  font-weight: 800;
  color: #fdd7c4;
}
