.app-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
section {
  height: 100vh;
}
.bg-orange-shadow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.bg-green-shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#move-text-container {
  background: var(--primary-color);
  padding: 15px;
}
.move-text {
  position: relative;
}
.move-text .main-head {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fdd7c4;
}
.move-text span {
  font-size: 2rem;
  font-weight: 800;
  color: #fdd7c4;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
footer .design {
  font-size: 1.1rem;
}