.service-section {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.service-left,
.service-right {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
}
.service-right .title-section {
  margin-bottom: 1.5rem;
  text-align: left;
}
.title-section .service-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.service-right .service-content {
  text-align: justify;
}
.service-right .service-content .service-text {
  font-size: 1.3rem;
  color: var(--gray-dark);
}
.service-left {
  display: grid;
  place-items: center;
}
.service-left img {
  width: 100%;
  height: auto;
  /* filter: drop-shadow(5px 5px 5px var(--primary-color)); */
}
.service-text span {
  font-weight: 700;
}

.service-content .features {
  padding-left: 0;
}
.service-content .features li {
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
}
.service-content .features li i {
  color: #02bb02;
  font-size: 1.4rem;
  font-weight: 800;
  margin-right: 1rem;
}
