body {
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 8vh;
    padding: 1.5rem 0;
}
nav .logo {
    display: flex;
}
nav .logo-text{
    letter-spacing: 1.5px;
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 700;
    margin-left: 1rem;
}
nav .logo-img{
    height: 35px;
    width: 35px;
}
nav .nav-links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.nav-links.nav-active {
    transform: translateX(0%);
}
.nav-links .nav-item .nav-link {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 1rem;
    color: #000;
    letter-spacing: .05rem;
}
.burger {
    position: relative;
    cursor: pointer;
    display: none;
}
.burger div {
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    border-radius: 20px;
    transition: all .4s ease-in-out;
}
.burger .line1, .burger .line3{
    width: 30px;    
}
.burger .line2{
    width: 20px;
}
.burger.active .line2{
    transform: translateX(-100%);
    opacity: 0;
}
.burger.active .line1{
    margin: 0;
    transform: rotate(-45deg) translate(-7px, 7px);
}
.burger.active .line3{
    margin: 0;
    transform: rotate(45deg) translate(-5px, -6px); 
}

