nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  position: relative;
  width: 100%;
}
nav .logo h3 {
  letter-spacing: 1.5px;
  font-size: 2.5rem;
  margin-bottom: 0;
  font-weight: 700;
  color: var(--primary-color);
}
nav .logo h3 span {
  color: var(--secondary-color);
}
.nav-menu {
  position: relative;
}
.nav-menu a {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  display: inline-block;
  transition: 0.5s;
  z-index: 1;
}
.nav-menu a.active {
  color: #9747ff;
}
nav .marker {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background: #ecebff;
  color: #fff;
  transition: 0.5s;
  z-index: -1;
  border-radius: 8px;
}

/* 

nav .nav-links {
  position: fixed;
  top: 0vh;
  right: -100%;
  height: 100vh;
  background: var(--primary-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  z-index: 10;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
}

.nav-links.active {
  right: -2%;
}
.nav-links .nav-link {
  margin-bottom: 2.5rem !important;
}
.nav-link a {
  font-size: 1.7rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.05rem;
}
.burger {
  cursor: pointer;
  position: relative;
  z-index: 11;
  transition: all 0.3s ease-in-out;
}
.burger:hover .line1 {
  width: 35px;
}
.burger:hover .line2 {
  width: 17px;
}
.burger div {
  width: 35px;
  height: 3px;
  border-radius: 50px;
  margin-bottom: 0.4rem;
  background: #131212;
  cursor: pointer;
  transition: 0.15s ease-in;
}
.burger .line1 {
  width: 15px;
}
.burger .line2 {
  width: 25px;
}
.burger.active {
  transform: rotate(180deg);
}

.burger.active .line2 {
  width: 33px;
}
.burger.active .line1 {
  position: relative;
  top: 3px;
  right: 3px;
  width: 18px;
  transform: rotate(135deg);
}
.burger.active .line3 {
  position: relative;
  top: -3px;
  right: 3px;
  width: 18px;
  transform: rotate(45deg);
} */
